:root {
  --body-bg: #fddcd2d5;

  --header-bg: #201e1d;
  --header-text: #fddcd2;

  --main-bg: #fddcd2;
  --main-text: #201e1d;
  --main-title-bg: #f7aaf7;

  --card-bg: #6bd6147b;
  --card-text: #201e1d;
}